@import "/src/style/savedLetters.css";

.topicList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: -2rem;
    max-width: 30rem;
}

h4 {
    margin-bottom: -0.001rem;
    font-weight: bolder;
}

button {
    margin-top: 1rem;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}